.articles
  .articles__author
    %ul
      %li.author-image
        %img{src: "assets/default_author.png"}
      %li.author-detail
        %p.author-detail__name
          - if article.user.nickname?
            = article.user.nickname
        %p.author-detail__date
          2018/02/18 19:08
  .articles__text
    今日は大量の作業をしなくてはいけないので、まずはお昼に映画を観に行って「こんなことしてる場合じゃなかった」と我に返ったふりをして後半頑張る作戦で乗り切ろうと自分にネタバレしながら思っています。おはようございます。
  .articles__info
    %ul
      %li.articles__info__likes
        %i.fa.fa-heart-o
      %li.articles__info__likes-count
        %p
          10
      %li.articles__info__share
        %i.fa.fa-share
      %li.articles__info__add-magazine
        %i.fa.fa-plus
    %p.add-comment
      コメントする
