.header
  -# .header__top
  -#   .header__top__title
  -#   .header__top__info
  -# .header__bottom
  -#   .header__bottom__category
  -#   .header__bottom__tags
-# .articles
-#   -# = render @articles
-#
-# .footer






