.wrapper-index
  = render "shared/header"
  = render "shared/header__bottom"
  = render @notes
  .btn-more
    .btn-more__text
      %p
        もっとみる
  = render "shared/footer"
=render "shared/modal_purchase"
