.wrapper-new
  .header-new
    .header-new__inner
      .header-new__inner__logo
        = link_to root_path do
          = image_tag "title-logo-simple.png"
      .account-menu
        %ul
          %li
            .account-menu__btn
              %button
                %p
                  公開設定
          %li
            .account-menu__btn
              %button
                %p
                  キャンセル

