.wrapper-show
  = render "shared/header" ,note: @note
  .show-note
    = render "notes/note_show", note: @note
  = render "reviews/comments", {note: @note, reviews: @reviews}
  = render "shared/footer"
