-# - if user_signed_in?
-#   - if note.like_user(current_user.id)
-#     = link_to note_like_path(note, note.like_user(current_user.id)), method: :delete, class: "heart-icon", remote: true do
-#       %li.articles__info__likes
-#         %i.fa.fa-heart
-#       %li.articles__info__likes-count
-#         %p
-#           = Like.where(note_id: note.id).count
-#   - else
-#     = link_to note_likes_path(note), method: :post, class: "empty-heart", remote: true do
-#       %li.articles__info__likes
-#         %i.fa.fa-heart-o
-#       %li.articles__info__likes-count
-#         %p
-#           = Like.where(note_id: note.id).count
-# - else
-#   %li.articles__info__likes
-#     %i.fa.fa-heart
-#   %li.articles__info__likes-count
-#     %p
-#       = Like.where(note_id: note.id).count



- if user_signed_in?
  %li.articles__info__likes
  - if note.like_user(current_user.id)
    = link_to note_like_path(note, note.like_user(current_user.id)), method: :delete, class: "heart-icon", remote: true do
      %i.fa.fa-heart
  - else
    = link_to note_likes_path(note), method: :post, class: "empty-heart", remote: true do
      %i.fa.fa-heart-o
  %li.articles__info__likes-count
    %p
      = Like.where(note_id: note.id).count
- else
  %li.articles__info__likes
    %i.fa.fa-heart
  %li.articles__info__likes-count
    %p
      = Like.where(note_id: note.id).count
