.footer
  .footer__top
  .footer__bottom
    %ul
      %li
        %a
          noteプレミアム
      %li
        %a
          クリエイターの方へ
      %li
        %a
          よくある質問
      %li
        %a
          使い方
      %li
        %a
          プライバシー
      %li
        %a
          ご利用規約
      %li
        %a
          運営会社
      %li
        %a
          採用情報
      %li
        %a
          運営へのお問い合わせ
      %li
        %a
          noteカイゼン目安箱

