.header
  .header__bottom
    %ul
      %li
        %a.category
          トップ
      %li
        %a.category
          おすすめ
      %li
        %a.category
          マンガ
      %li
        %a.category
          コラム
      %li
        %a.category
          小説
      %li
        %a.category
          写真
      %li
        %a.category
          音楽
      %li.separator-right
        %p.separator-right__dummy
      %li.separator-left
      %li
        %a.tag
          \#海外
      %li
        %a.tag
          \#恋愛
      %li
        %a.tag
          \#ビジネス
      %li
        %a.tag
          \#インタビュー
  .header__under-space
