.modal-container-mypage__overlay
  .modal-container-mypage__window
    .modal-container-mypage__overlay__user-name
      - if user_signed_in?
        = link_to user_path(current_user) do
          %p#user_name
            #{current_user.nickname}
        %p.display-mypage
          マイページを表示
    .modal-container-mypage__overlay__configure
      %p
        = link_to edit_user_path(current_user) do
          アカウント設定
    .modal-container-mypage__overlay__logout
      %p
        = link_to destroy_user_session_path, method: :delete do
          ログアウト

