.modal-delete {
  float: left;
  position: absolute;
  font-size: 12px;
  display: none;
  &__delete-btn {
    border: 1px solid $border_gray;
    border-radius: 4px;
    background-color: white;
    a {
      text-decoration: none;
      cursor: pointer;
      p {
        color: black;
        padding: 6px 25px;
        width: 60px;
      }
    }
  }
}
