.modal-container-mypage__overlay {
  float: right;
  background-color: white;
  border: 1px solid $border_gray;
  border-radius: 4px;
  position: absolute;
  margin: 0 !important;
  padding: 8px 0;
  font-size: 12px;
  display: none;
  .modal-container-mypage__window {
    margin: 0 !important;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  &__user-name {
    margin: 0 !important;
    padding: 6px 25px;
    border-bottom: 1px solid $border_gray;
    font-weight: bold;
    .display-mypage {
      font-size: 11px;
      color: #787C7B;
      font-weight: normal;
    }
  }
  &__configure {
    margin: 0 !important;
    padding: 6px 25px;
  }
  &__logout {
    margin: 0 !important;
    padding: 6px 25px;
  }
}
