.wrapper-new {
  height: 100%;
  width: 100%;
  background-color: white;
  .header-new {
    padding: 0 20px;
    border-bottom: 1px solid $border-gray;
    &__inner {
      @extend .clearfix;
      &__logo {
        position: absolute;
        left: 50%;
        margin: 13px 0 0 -32px;
      }
    }
    .account-menu {
      float: right;
      ul {
        li {
          padding: 8px 0;
          display: table-cell;
          .account-menu__btn {
            margin-left: 10px;
            button {
              height: 31px;
              width: 80px;
              display: block;
              border: 1px solid $border-gray;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
