.wrapper-index {
  height: 100%;
  width: 100%;
  background-color: $too_light_gray;
  .articles {
    width: 578px;
    background-color: white;
    margin: 0 auto 15px auto;
    border: 1px solid $border_gray;
    &__author {
      height: 36px;
      padding: 20px;
      background-color: white;
      ul {
        li.author-image {
          display: inline-block;
          margin-right: 8px;
          float: left;
          img {
            border-radius: 50%;
            width: 36px;
            height: 36px;
          }
        }
        li.author-detail {
          display: inline-block;
          float: left;
          p.author-detail__name {
            font-size: 12px;
            font-weight: bold;
          }
          p.author-detail__date {
            font-size: 11px;
          }
        }
        li.author-purchase {
          display: inline-block;
          float: right;
          button {
            text-decoration: none;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            p.author-purchase__value {
              color: #2cb696;
              border: 1px solid #2cb696;
              border-radius: 4px;
              padding: 7px 12px;
            }
          }
        }
      }
    }
    &__text {
      padding: 0 20px 20px 20px;
      background-color: white;
      font-size: 14px;
      text-align: justify;
      .image {
        text-align: center;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 13px 0;
        color: black;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .body {
        white-space: normal;
        max-height: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__info {
      @extend .clearfix;
      margin: 0 20px;
      padding: 12px 0 15px 0;
      border-top: 1px solid $border_gray;
      font-size: 20px;
      color: gray;
      ul {
        float: left;
        li.articles__info__likes {
          display: inline-block;
        }
        li.articles__info__likes-count {
          display: inline-block;
          margin-right: 35px;
          font-size: 17px;
        }
        li.articles__info__share {
          display: inline-block;
          margin-right: 35px;
        }
        li.articles__info__add-magazine {
          display: inline-block;
          margin-right: 35px;
        }
      }
      p.add-comment {
        font-size: 17px;
        float: right;
        color: green;
      }
    }
  }
  .btn-more {
    height: 35px;
    width: 100%;
    &__text {
      width: 580px;
      margin: 0 auto;
      text-align: center;
      p {
        font-size: 12px;
        color: $light_gray;
        background-color: white;
        height: 30px;
        width: 300px;
        line-height: 30px;
        margin: 0 auto;
        border-radius: 4px;
        border: 1px solid $border_gray;
      }
    }
  }
}
