.wrapper-show {
  background-color: white;
  border: none;
}

.show-note {
  .articles {
    width: 620px;
    background-color: white;
    margin: 20px auto 15px auto;
    border: none;
    &__author {
      height: 36px;
      // padding: 20px;
      margin-bottom: 40px;
      background-color: white;
      ul {
        li.author-image {
          display: inline-block;
          margin-right: 8px;
          img {
            border-radius: 50%;
            width: 36px;
            height: 36px;
          }
        }
        li.author-detail {
          display: inline-block;
          p.author-detail__name {
            font-size: 12px;
            font-weight: bold;
            a {
              text-decoration: none;
              color: black;
            }
          }
          p.author-detail__date {
            font-size: 11px;
          }
        }
        li.edit-note {
          float: right;
          a {
            text-decoration: none;
          }
          p {
            // line-height: 42px;
            padding: 8.4px 12px;
            font-size: 12px;
            border: 1px solid #41B79B;
            border-radius: 4px;
            color: #41B79B;
          }
        }
      }
    }
    &__text {
      background-color: white;
      font-size: 14px;
      text-align: justify;
      .image {
        text-align: center;
        a {
          pointer-events: none;
        }
      }
      .title {
        font-size: 32px;
        font-weight: bold;
        margin: 40px 0 13px 0;
        color: black;
        a {
          pointer-events: none;
          text-decoration: none;
          cursor: default;
          color: black;
        }
      }
      .body {
        white-space: normal;
        font-size: 17.64px;
      }
    }
    &__info {
      display: none;
      @extend .clearfix;
      margin: 0 20px;
      padding: 12px 0 15px 0;
      border-top: 1px solid $border_gray;
      font-size: 20px;
      color: gray;
      ul {
        float: left;
        li.articles__info__likes {
          display: inline-block;
        }
        li.articles__info__likes-count {
          display: inline-block;
          margin-right: 35px;
          font-size: 17px;
        }
        li.articles__info__share {
          display: inline-block;
          margin-right: 35px;
        }
        li.articles__info__add-magazine {
          display: inline-block;
          margin-right: 35px;
        }
      }
      p.add-comment {
        font-size: 17px;
        float: right;
        color: green;
      }
    }
  }
}
